<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" failOnWarning="false" failOnDeprecation="false">
  <testsuites>
    <testsuite name="unit"><directory>tests/Unit</directory></testsuite>
    <testsuite name="integration"><directory>tests/Integration</directory></testsuite>
  </testsuites>
    <php>
    <env name="DB_HOST" value="localhost"/>
    <env name="DB_NAME" value="testdb"/>
    <env name="DB_USER" value="user"/>
    <env name="DB_PASS" value="pass"/>
    <env name="ADMIN_USER" value="admin"/>
    <env name="ADMIN_PASS" value="secret"/>
    <env name="JWT_KEYS_CURRENT" value="key"/>
    <env name="JWT_KID" value="test"/>
  </php>
  <source>
    <include>
      <directory>app</directory>
    </include>
    <exclude>
      <directory>tests</directory>
    </exclude>
  </source>
</phpunit>
